*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.pdf
*.info
*.synctex*
*.synctex.gz
.sconsign.dblite
*.fdb_latexmk
*.fls
revision.tex
*.swp
*.swo
